html,body,main{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--Background2-), var(--Background-))
}

form{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 50%;
    background-color: var(--Background2-);
    box-shadow: 0 8px 8px  var(--White-);
}

.input-form{
    width: 70%;
    height: 10%;
    border: none;
    background-color: var(--Background3-);
    color: var(--White-);
    font-size: clamp(1rem, 1.2rem, 1.5rem);
}

form p{
    text-align: center;
    font-size: 1.5em;
    color: var(--White-);
}

form a{
    color: var(--White-);
    transition: all .2s ease-in-out;
}
form a:hover{
    color: var(--Hover-);
}

.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

.button {
    width: auto;
    height: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
}

button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

button:focus {
    outline: none;
}

