@import url(root.css);
@import url(font.css);

html,body,main{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    position: relative;
}

.header{
    background-color: var(--Grey-);
    font-family: LemonMilk;
}

.containerHeader{
    display: flex;
    justify-content: center;
    font-size: 400%;
    color: var(--Black-);
    padding-top: 1%;
}

.links{
    display: flex;
    flex-direction: row;
    font-size: 150%;
    align-items: center;
    justify-content: space-around;
}

.linkHeader{
    text-decoration: none;
    color: var(--Black-);
    margin: 1%;
}

.linkHeader:hover{
    color: var(--White-);
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.deco2{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: var(--Black-);
    font-size: 100%;
    font-family: LemonMilk;
}

.deco2:hover{
    color: var(--Red-);
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}