@font-face{
    font-family: Break;
    src: url(../font/Break.ttf);
}
@font-face{
    font-family: Dunkin;
    src: url(../font/Dunkin.otf);
}
@font-face{
    font-family: LemonMilk;
    src: url(../font/LemonMilk.otf);
}
@font-face{
    font-family: Riffic;
    src: url(../font/Riffic.ttf);
}