@import url(root.css);
@import url(font.css);
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    background-color: var(--Background-);
    display: flex;
    flex-direction: row;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 4%;
    font-size: 1.2em;
    font-family: Title;
    transition: all .2s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: var(--White-);
    transition: all .2s ease-in-out;
}

.menu {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li :hover {
    color: var(--Hover-);
}

.deconnexion {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.menu button {
    border-radius: 3.125rem;
    height: 2.8125rem;
    width: auto;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, .5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, .5) 19%, rgba(255, 255, 255, 0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
    margin-right: 3.125rem;
}

header button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

header button:focus {
    outline: none;
}

.facebook:hover {
    background-color: var(--Color1-);
}

.twitter:hover {
    background-color: var(--Color2-);
}

.instagram:hover {
    background-color: var(--Color3-);
}

.github:hover {
    background-color: var(--Color4-);
}

footer div div ul li a:hover {
    color: var(--Hover-);
}